 
<h1>Contact us</h1>
<br>
<div class="contact">
<form class="form">
  <label for="username">
    Name : 
  </label>
  <input type="text" ng-model="text1" placeholder="your name" name="username">

  <label for="usermail">
    Mail : 
  </label>
  <input type="text" ng-model="text2" placeholder="your email" name="usermail">

  <label for="userphone">
    Phone number : 
  </label>
  <input type="text" ng-model="text3" placeholder="your phone number" name="userphone">
</form>
  <div class="btn" >
     <button value="clear" ng-click="alert()">clear</button>
     <button value="sent">sent</button>
  </div>
</div>
